.search-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-top: 2.5rem;
    position: fixed;
    width:98%;
    height:15vh;
    margin-top: -.9rem;
    background: #eee;
    
    
}
.btn-search{
    background:#6BCB77;
    width:15rem;
    border-radius: 1.5rem;
    line-height: 2.5;
    font-weight: 500;
    color: #eee;
    border: none;

}

.bx-trash, .bx-edit{

    font-size:1.2rem;
}

.button-search{
    margin-top: 10rem;;
}